img{
    border: 7px solid gold;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

#receipe_table_headers
{
    color:chocolate;
}

a{
    text-decoration: none;
}
#iskembe a{
    background-color:gold;
    border:1px solid gold;
}

#humus a{
    background-color:gold;
    border:1px solid gold;
}

#chicken_vegetable_kebab a{
    background-color:gold;
    border:1px solid gold;
}

#receipe_table tbody{
    display: block;
    border-spacing: 20px 30px;
}
